---
  # MySQL
  - name: MySQL | install
    apt: name={{ item }} state=latest
    with_items:
      - mysql-server
      - mysql-client
      - python-mysqldb

  - name: MySQL | update mysql root password for all root accounts
    become: yes
    mysql_user: 
      name: root 
      host: "{{ item }}" 
      password: "{{ mysql.mysql_root_password }}"
      login_user: root
      login_password: "{{ mysql.mysql_root_password }}"
      check_implicit_admin: yes
      priv: "*.*:ALL,GRANT"
    with_items:
      - "{{ ansible_hostname }}"
      - 127.0.0.1
      - ::1
      - localhost

  - name: MySQL | copy .my.cnf file with root password credentials
    template: src=.my.cnf dest=/root/.my.cnf owner=root mode=0600

  - name: MySQL | add mysql user
    mysql_user: 
      name: "{{ mysql.db_user }}"
      host: "{{ item }}" 
      password: "{{ mysql.db_password }}"
      priv: "*.*:ALL,GRANT"
    with_items:
      - "{{ ansible_hostname }}"
      - 127.0.0.1
      - ::1
      - localhost

  - name: MySQL | create mysql databases
    mysql_db: name={{ item }}
              state=present
    with_items:
      - "{{ mysql.db_name }}"

  - name: MySQL | check conf.d directory
    file: path=/etc/mysql/conf.d state=directory

  - name: MySQL | Set MySQL number of connections
    copy: src=max_connections.cnf dest=/etc/mysql/conf.d/max_connections.cnf
    notify: restart mysql